### SQL <-> Programming Langauge connection
* Java - JDBC(java database conectivity), MyBatis framework, JPA(Java Persistence API)
* Python - pymysql, sqlalchemy dJango, etc

In [12]:
!pip show pymysql

Name: PyMySQL
Version: 0.10.0
Summary: Pure Python MySQL Driver
Home-page: https://github.com/PyMySQL/PyMySQL/
Author: yutaka.matsubara
Author-email: yutaka.matsubara@gmail.com
License: "MIT"
Location: c:\anaconda3\lib\site-packages
Requires:
Required-by:

In [13]:
import pymysql
sql = """
CREATE TABLE product (
id INT UNSIGNED NOT NULL AUTO_INCREMENT,
name VARCHAR(20) NOT NULL,
model_num VARCHAR(10) NOT NULL,
model_type VARCHAR(10) NOT NULL,
PRIMARY KEY(id)
);
"""
db = pymysql.connect(host ='localhost', port = 3306, db ='python_db', user = 'python', passwd = 'python')
cursor = db.cursor()
cursor.execute('drop table IF EXISTs product;')
cursor.execute(sql)
db.commit()

In [14]:
cursor.execute('show tables')

7

In [15]:
db.close()

In [16]:
import pymysql
db = pymysql.connect(host ='localhost', port = 3306, db ='python_db', user = 'python', passwd = 'python')

try:
    with db.cursor() as cursor:
        cursor.execute('drop table product')
        cursor.execute(sql)
        db.commit()

        for num in range(10, 20):
            name = 'S20' + str(num)
            # ins_sql = 'insert into product (name, model_num, model_type) values(%s, %s, %s)'
            # cursor.execute(ins_sql, (name, '7700', 'Phone'))
            ins_sql = "insert into product (name, model_num, model_type) values('" + name + "'," + "'7700'" + "," + "'Phone'" +")"
            cursor.execute(ins_sql)
        db.commit()
finally:
    db.close()

In [17]:
import pymysql
db = pymysql.connect(host ='localhost', port = 3306, db ='python_db', user = 'python', passwd = 'python')

try:
    with db.cursor() as cursor:
        cursor.execute('select * from product where id = 3')
        result = cursor.fetchone()
        print(type(result), result)

        upd_sql = "update product set model_type = '%s' where name between 'S2010' and 'S2015'"% 'CellPhone'
        ## [(query)%something(query)] % [%somthing]

        cursor.execute(upd_sql)
        db.commit()
        
        ### model type grouping
        grp_sql = "select model_type, count(*) from product group by model_type"
        cursor.execute(grp_sql)
        result_list2 = cursor.fetchall()

        cursor.execute('select * from product')
        result_list = cursor.fetchall()
        print(type(result_list))
        for r in result_list:
            print(r)
        print('=' * 100)
        for r in result_list2:
            print(r)
finally:
    db.close()

<class 'tuple'> (3, 'S2012', '7700', 'Phone')
<class 'tuple'>
(1, 'S2010', '7700', 'CellPhone')
(2, 'S2011', '7700', 'CellPhone')
(3, 'S2012', '7700', 'CellPhone')
(4, 'S2013', '7700', 'CellPhone')
(5, 'S2014', '7700', 'CellPhone')
(6, 'S2015', '7700', 'CellPhone')
(7, 'S2016', '7700', 'Phone')
(8, 'S2017', '7700', 'Phone')
(9, 'S2018', '7700', 'Phone')
(10, 'S2019', '7700', 'Phone')
====================================================================================================
('CellPhone', 6)
('Phone', 4)