## Pandas API(Cont')

In [24]:
import pandas as pd

data = pd.read_csv('../Day_7/data_draw_korea.csv')
data.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [25]:
data = data.rename(columns = {'Unnamed: 0' : 'seq' })
data = data.set_index('seq')
print('표준편차 : ', data['인구수'].std())

표준편차 :  207437.8370475227

In [26]:
data.iloc[0:3, 0:3] ## based on "Index"

        인구수 shortName   x
seq
0    202520        강릉  11
1     25589    고성(강원)   9
2     86747        동해  11

In [27]:
data['행정구역'].unique() ## simillar with [SQL DISTINCT]

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시',
       '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', '안성시', '안양시', '양주시',
       '양평군', '여주시', '연천군', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시',
       '평택시', '포천시', '하남시', '화성시', '거제시', '거창군', '김해시', '남해군', '밀양시',
       '사천시', '산청군', '양산시', '의령군', '진주시', '창녕군', '창원시', '통영시', '하동군',
       '함안군', '함양군', '합천군', '경산시', '경주시', '고령군', '구미시', '군위군', '김천시',
       '문경시', '봉화군', '상주시', '성주군', '안동시', '영덕군', '영양군', '영주시', '영천시',
       '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군', '포항시', '광산구',
       '남구', '동구', '북구', '서구', '달서구', '달성군', '수성구', '중구', '대덕구', '유성구',
       '강서구', '금정구', '기장군', '동래구', '부산진구', '사상구', '사하구', '수영구', '연제구',
       '영도구', '해운대구', '강남구', '강동구', '강북구', '관악구', '광진구', '구로구', '금천구',
       '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구',
       '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중랑구', '세종시', '울주군',
       '강화군', '계양구', '남동구', '부평구', '연수구', '옹진군', '강진군', '고흥군', '곡성군',
       '광양시', '구례군', '나주시', '담양군', '목포시', '무안군', '보성군', '순천시', '신안군',
       '여수시', '영광군', '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군',
       '화순군', '고창군', '군산시', '김제시', '남원시', '무주군', '부안군', '순창군', '완주군',
       '익산시', '임실군', '장수군', '전주시', '정읍시', '진안군', '서귀포시', '제주시', '계룡시',
       '공주시', '금산군', '논산시', '당진시', '보령시', '부여군', '서산시', '서천군', '아산시',
       '예산군', '천안시', '청양군', '태안군', '홍성군', '괴산군', '단양군', '보은군', '영동군',
       '옥천군', '음성군', '제천시', '증평군', '진천군', '청주시', '충주시'], dtype=object)

In [28]:
data['광역시도'].value_counts()

경기도        31
서울특별시      25
경상북도       23
전라남도       22
강원도        18
경상남도       18
부산광역시      16
충청남도       15
전라북도       14
충청북도       11
인천광역시      10
대구광역시       8
대전광역시       5
울산광역시       5
광주광역시       5
제주특별자치도     2
세종특별자치시     1
Name: 광역시도, dtype: int64

In [29]:
seoul = data['광역시도'] == '서울특별시'
data.loc[seoul,:]

        인구수 shortName  x  y     면적   광역시도  행정구역
seq
124  526157      서울강남  6  7  39.50  서울특별시   강남구
125  432028      서울강동  8  5  24.60  서울특별시   강동구
126  310292      서울강북  5  2  23.60  서울특별시   강북구
127  554709      서울강서  4  4  41.40  서울특별시   강서구
128  484478      서울관악  5  6  29.60  서울특별시   관악구
129  342909      서울광진  7  6  17.05  서울특별시   광진구
130  401233      서울구로  4  7  20.11  서울특별시   구로구
131  222566      서울금천  5  7  13.01  서울특별시   금천구
132  547202      서울노원  6  1  35.44  서울특별시   노원구
133  331682      서울도봉  5  1  20.80  서울특별시   도봉구
134  342429     서울동대문  7  4  14.20  서울특별시  동대문구
135  383917      서울동작  5  5  16.36  서울특별시   동작구
136  364232      서울마포  5  4  23.87  서울특별시   마포구
137  288543     서울서대문  5  3  17.60  서울특별시  서대문구
138  407416      서울서초  6  6  47.04  서울특별시   서초구
139  279939      서울성동  7  5  16.85  서울특별시   성동구
140  434061      서울성북  6  2  24.57  서울특별시   성북구
141  615487      서울송파  8  6  33.90  서울특별시   송파구
142  453634      서울양천  4  5  17.40  서울특별시   양천구
143  351837     서울영등포  4  6  24.56  서울특별시  영등포구
144  208603      서울용산  6  5  21.87  서울특별시   용산구
145  464236      서울은평  4  3  29.70  서울특별시   은평구
146  140595      서울종로  6  3  23.90  서울특별시   종로구
147  114967      서울중구  6  4   9.96  서울특별시    중구
148  391655      서울중랑  8  4  18.50  서울특별시   중랑구

In [30]:
busan = data['광역시도'] == '부산광역시'
col = ['행정구역','인구수']
data.loc[busan,col]

     행정구역     인구수
seq
108   강서구   84722
109   금정구  235887
110   기장군  142223
111    남구  271753
112    동구   85952
113   동래구  256584
114  부산진구  365721
115    북구  292375
116   사상구  228824
117   사하구  322757
118    서구  107107
119   수영구  168618
120   연제구  198383
121   영도구  122446
122    중구   43105
123  해운대구  397134

In [31]:
busan = data['광역시도'] == '부산광역시'
namgu = data['행정구역'] == '남구'
data.loc[busan & namgu, :] ## common group

        인구수 shortName   x   y     면적   광역시도 행정구역
seq
111  271753      부산남구  11  19  25.91  부산광역시   남구

In [32]:
pop_mean = data['인구수'].mean()
print(pop_mean)
area_mean = data['면적'].mean()
print(area_mean)

col = ['인구수','면적', '광역시도','행정구역']
lower_pop = data['인구수'] < pop_mean
data.loc[lower_pop, col]

bigger_area = data['면적'] > area_mean
data.loc[bigger_area, col]

data.loc[ lower_pop & bigger_area, col]

211089.77729257641
435.41979475982555

        인구수       면적  광역시도 행정구역
seq
0    202520  1040.07   강원도  강릉시
1     25589   664.19   강원도  고성군
3     63986  1185.80   강원도  삼척시
5     20809   700.80   강원도  양구군
6     24551   628.68   강원도  양양군
..      ...      ...   ...  ...
221   46524   845.01  충청북도  영동군
222   47599   537.13  충청북도  옥천군
223   86441   521.05  충청북도  음성군
224  127462   882.47  충청북도  제천시
228  198077   983.70  충청북도  충주시

[95 rows x 4 columns]

In [33]:
# Get the 행정구역 which has more population than mean 
mean_pop = data['인구수'].mean()
col = ['행정구역']
gyeongi = data['광역시도'] == '경기도'
bigger_pop = data['인구수'] > mean_pop
data.loc[gyeongi & bigger_pop, col]

     행정구역
seq
19    고양시
21    광명시
22    광주시
24    군포시
25    김포시
26   남양주시
28    부천시
29    성남시
30    수원시
31    시흥시
32    안산시
34    안양시
40    용인시
42   의정부시
44    파주시
45    평택시
48    화성시

In [34]:
# Get the most pop in 강원도
gangwon = data['광역시도'] == '강원도'
col = ['행정구역', '인구수']
data.loc[gangwon, col ].max()

행정구역       횡성군
인구수     313851
dtype: object

In [35]:
# Make these as function
def province_most_pop(name):
    specific = data['광역시도'] == name
    return data.loc[specific, '인구수'].max()

print(province_most_pop('부산광역시'))
print('==========================')
print(province_most_pop('경기도'))

397134
==========================
1125461

In [36]:
def whole(obj):
    uniq = data['광역시도'].unique()
    for prov in uniq:
        obj = obj.append(province_most_pop(prov))

In [37]:
#  To make above PRETTY (Create New dataframe and assign)
col = ['인구수', '행정구역','광역시도']
max_pops = pd.DataFrame(columns= col)
# print(max_pops)

uniq = data['광역시도'].unique()
for prov in uniq:
    max_pops = max_pops.append(data.loc[data['인구수'] == province_most_pop(prov), col]) ## Should assign again after append
print(max_pops)
max_pops.reset_index() ## reset index ( has drop param :: True : drop the original (default is False))

인구수  행정구역     광역시도
8     313851   원주시      강원도
30   1125461   수원시      경기도
61   1010040   창원시     경상남도
89    488395   포항시     경상북도
93    439683    북구    광주광역시
96    584517   달서구    대구광역시
105   475094    서구    대전광역시
123   397134  해운대구    부산광역시
141   615487   송파구    서울특별시
149   191233   세종시  세종특별자치시
150   327270    남구    울산광역시
160   527153   부평구    인천광역시
177   263166   여수시     전라남도
198   630708   전주시     전라북도
202   430504   제주시  제주특별자치도
214   584912   천안시     충청남도
227   790216   청주시     충청북도

    index      인구수  행정구역     광역시도
0       8   313851   원주시      강원도
1      30  1125461   수원시      경기도
2      61  1010040   창원시     경상남도
3      89   488395   포항시     경상북도
4      93   439683    북구    광주광역시
5      96   584517   달서구    대구광역시
6     105   475094    서구    대전광역시
7     123   397134  해운대구    부산광역시
8     141   615487   송파구    서울특별시
9     149   191233   세종시  세종특별자치시
10    150   327270    남구    울산광역시
11    160   527153   부평구    인천광역시
12    177   263166   여수시     전라남도
13    198   630708   전주시     전라북도
14    202   430504   제주시  제주특별자치도
15    214   584912   천안시     충청남도
16    227   790216   청주시     충청북도

In [38]:
## Another function with area
col = ['면적', '행정구역','광역시도']
def province_most_area(name):
    specific = data['광역시도'] == name
    temp = data.loc[specific, '면적'].max()
    return data.loc[data['면적'] == temp, col]
max_areas = pd.DataFrame(columns= col)
for prov in uniq:
    max_areas = max_areas.append(province_most_area(prov))
max_areas = max_areas.reset_index(drop = True)
max_areas.index
# max_areas

RangeIndex(start=0, stop=17, step=1)

In [39]:
# Start the index from '1'

import numpy as np
max_areas.index = np.arange(1,len(max_areas)+1)
max_areas

         면적 행정구역     광역시도
1   1817.94  홍천군      강원도
2    877.08  양평군      경기도
3    983.42  합천군     경상남도
4   1519.00  안동시     경상북도
5    222.88  광산구    광주광역시
6    427.03  달성군    대구광역시
7    177.16  유성구    대전광역시
8    217.90  기장군    부산광역시
9     47.04  서초구    서울특별시
10   465.23  세종시  세종특별자치시
11   754.93  울주군    울산광역시
12   411.20  강화군    인천광역시
13   907.35  순천시     전라남도
14   821.00  완주군     전라북도
15   977.80  제주시  제주특별자치도
16   940.71  공주시     충청남도
17   983.70  충주시     충청북도

In [40]:
max_areas = max_areas.sort_values(by = '면적', ascending=False).reset_index(drop= True)
max_areas.index = np.arange(1,len(max_areas)+1)

max_areas

         면적 행정구역     광역시도
1   1817.94  홍천군      강원도
2   1519.00  안동시     경상북도
3    983.70  충주시     충청북도
4    983.42  합천군     경상남도
5    977.80  제주시  제주특별자치도
6    940.71  공주시     충청남도
7    907.35  순천시     전라남도
8    877.08  양평군      경기도
9    821.00  완주군     전라북도
10   754.93  울주군    울산광역시
11   465.23  세종시  세종특별자치시
12   427.03  달성군    대구광역시
13   411.20  강화군    인천광역시
14   222.88  광산구    광주광역시
15   217.90  기장군    부산광역시
16   177.16  유성구    대전광역시
17    47.04  서초구    서울특별시

### Correlation
#### Correlation coefficient has range of (-1 ~ 1)
#### Means, more relative closer to '1'
* Correlation of whole area and population
* Correlation of area of Seoul and population of Seoul

In [41]:
# Correlation of whole area and whole population
print('Correlation of whole area and population\n',data['면적'].corr(data['인구수']))
# Correlation of area of Seoul and population of Seoul
seoul = data['광역시도'] == '서울특별시'
seoul_area = data.loc[seoul, '면적']
seoul_pop = data.loc[seoul, '인구수']
print('Correlation of area of Seoul and population of Seoul\n', seoul_area.corr(seoul_pop))

def corr_pop_and_area(city):
    c = data['광역시도'] == city
    c_area = data.loc[c, '면적']
    c_pop = data.loc[c, '인구수']
    print(f'Correlation of area of Seoul and population of {city}\n',c_area.corr(c_pop))
corr_pop_and_area('부산광역시')
corr_pop_and_area('경기도')

Correlation of whole area and population
 -0.346035160504577
Correlation of area of Seoul and population of Seoul
 0.6644268188909778
Correlation of area of Seoul and population of 부산광역시
 -0.13823708369604065
Correlation of area of Seoul and population of 경기도
 -0.21572485071590813

### Group by
#### Two types
* groupby() in Series object
* groupby() in DataFrame object

In [42]:
# Sum of population, for each '광역시도'
pop_sum = data['인구수'].groupby(data['광역시도']).sum()
pop_sum.sort_values(ascending = False)

광역시도
경기도        11744210
서울특별시       9394807
부산광역시       3323591
경상남도        3144487
인천광역시       2766575
경상북도        2508964
대구광역시       2378450
충청남도        1946129
전라북도        1739048
전라남도        1700563
충청북도        1484720
대전광역시       1467677
광주광역시       1438209
강원도         1429438
울산광역시       1105585
제주특별자치도      575873
세종특별자치시      191233
Name: 인구수, dtype: int64

In [43]:
pop_area = data['면적'].groupby(data['광역시도']).sum()
pop_area.sort_values(ascending = False)

광역시도
경상북도       19021.850
강원도        16874.810
전라남도       12008.390
경상남도       10437.460
경기도        10179.743
충청남도        8272.270
전라북도        7907.220
충청북도        7397.310
제주특별자치도     1848.480
인천광역시       1022.910
울산광역시        980.220
대구광역시        885.690
부산광역시        763.240
서울특별시        605.390
대전광역시        539.640
광주광역시        501.280
세종특별자치시      465.230
Name: 면적, dtype: float64

In [44]:
data.groupby('광역시도')['면적'].sum().sort_values(ascending = False)

광역시도
경상북도       19021.850
강원도        16874.810
전라남도       12008.390
경상남도       10437.460
경기도        10179.743
충청남도        8272.270
전라북도        7907.220
충청북도        7397.310
제주특별자치도     1848.480
인천광역시       1022.910
울산광역시        980.220
대구광역시        885.690
부산광역시        763.240
서울특별시        605.390
대전광역시        539.640
광주광역시        501.280
세종특별자치시      465.230
Name: 면적, dtype: float64

In [45]:
grouping_data = data.groupby(['광역시도', '행정구역'])['인구수'].sum()

In [47]:
grouping_data.to_excel('./광역시도행정구역별인구수.xlsx',)