## Pandas exercise
* Titanic passenger.csv

In [1]:
import pandas as pd

train = pd.read_csv('train.csv', index_col = "PassengerId")

# train[train['Sex'] == 'male'].head()

# train[train["Embarked"].isin(["Q", "S"])].head()
# train[train["Age"].isnull()].head()
# train[train["Age"].notnull()].head()

# train[(train["Age"].isnull()) & (train["Fare"].isnull())]


##########################################
####### column append and modify #########
##########################################
train["DataCategory"] = "Titanic"
train["Id"] = range(0, 891)
train["FamilySize"] = train["SibSp"] + train["Parch"] + 1
train[["SibSp", "Parch", "FamilySize"]].head()
train["Nationality_FR"] = train["Embarked"] == "C"
train["Nationality_UK"] = train["Embarked"].isin(["S", "Q"])

train.loc[train["Embarked"] == "C", "Nationality"] = "France"
train.loc[train["Embarked"].isin(["S", "Q"]), "Nationality"] = "England"
train["Fare_Cheap"] = train["Fare"] < 30
train["Fare_Medium"] = (train["Fare"] >= 30) & (train["Fare"] < 100)
train["Fare_Expensive"] = train["Fare"] >= 100
train.head(10)
train.loc[train["Fare"] < 30, "FareType"] = "Cheap"
train.loc[(train["Fare"] >= 30) & (train["Fare"] < 100), "FareType"] = "Med"
train.loc[train["Fare"] >= 100, "FareType"] = "Expensive"
mean_age = train["Age"].mean()
train.loc[train["Age"].isnull(), "Age"] = mean_age

train.loc[train['Cabin'].isnull(), 'Cabin'] = 'Hall'
train.loc[:, ['Survived', 'Age', 'Fare']]

             Survived        Age     Fare
PassengerId
1                   0  22.000000   7.2500
2                   1  38.000000  71.2833
3                   1  26.000000   7.9250
4                   1  35.000000  53.1000
5                   0  35.000000   8.0500
...               ...        ...      ...
887                 0  27.000000  13.0000
888                 1  19.000000  30.0000
889                 0  29.699118  23.4500
890                 1  26.000000  30.0000
891                 0  32.000000   7.7500

[891 rows x 3 columns]

2.2.3
1.7.1
0.9.0
1.0.5