## Maira DB
### Use pymysql & sqlalchemy
* pymysql : Make connection between python program and DB
* sqlalchemy : Map the Object to DB table

In [2]:
!pip show pymysql

Name: PyMySQL
Version: 0.10.0
Summary: Pure Python MySQL Driver
Home-page: https://github.com/PyMySQL/PyMySQL/
Author: yutaka.matsubara
Author-email: yutaka.matsubara@gmail.com
License: "MIT"
Location: c:\anaconda3\lib\site-packages
Requires:
Required-by:

In [3]:
!pip show sqlalchemy

Name: SQLAlchemy
Version: 1.2.11
Summary: Database Abstraction Library
Home-page: http://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT License
Location: c:\anaconda3\lib\site-packages
Requires:
Required-by: blaze

In [28]:
import pandas as pd

data = pd.read_csv('../Day_7/data_draw_korea.csv')
def province_most_pop(name):
    specific = data['광역시도'] == name
    return data.loc[specific, '인구수'].max()

col = ['인구수', '행정구역','광역시도']
max_pops = pd.DataFrame(columns= col)
uniq = data['광역시도'].unique()
for prov in uniq:
    max_pops = max_pops.append(data.loc[data['인구수'] == province_most_pop(prov), col])
max_pops.reset_index()

    index      인구수  행정구역     광역시도
0       8   313851   원주시      강원도
1      30  1125461   수원시      경기도
2      61  1010040   창원시     경상남도
3      89   488395   포항시     경상북도
4      93   439683    북구    광주광역시
5      96   584517   달서구    대구광역시
6     105   475094    서구    대전광역시
7     123   397134  해운대구    부산광역시
8     141   615487   송파구    서울특별시
9     149   191233   세종시  세종특별자치시
10    150   327270    남구    울산광역시
11    160   527153   부평구    인천광역시
12    177   263166   여수시     전라남도
13    198   630708   전주시     전라북도
14    202   430504   제주시  제주특별자치도
15    214   584912   천안시     충청남도
16    227   790216   청주시     충청북도

In [15]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
engine = create_engine("mysql+mysqldb://python:" + "python" + "@localhost/python_db"\
    , encoding = 'utf-8')
## mysql + mysqldb : ID  + Password + DB name
conn = engine.connect()
max_pops.to_sql(name = 'maxpop', con = engine, if_exists = 'replace', index = False)