# 0. 빅데이터
* 기존: 관계형 데이터베이스(RDBMS)
  - SQL 언어로 사용 가능
  - SQL 데이터베이스
* 빅데이터: NoSQL 데이터베이스

## 1. NoSQL 이해
  - Not only SQL
  - RDBMS의 한계를 극복하기 위해 만들어진 새로운 형태의 데이터저장소
  - RDBMS처럼 고정된 스키마 및 JOIN 이 존재하지 않음
  - 스키마 변경? ALERT 등 필요 없음

In [2]:
from IPython.display import Image, display
display(Image(url= 'img/img01.png'))

### 1.1. Why NoSQL?
  - RDBMS를 기본으로 사용하지만,
  - 초당 데이터가 수십만개씩 쌓이는 서비스가 많아지면서 (소셜, 온라인 서비스등), NoSQL을 사용하는 경우가 많아지고 있음

  - 경험적 수치
    - 95% read, 5% write 경우는 RDBMS 가 성능이 나쁘지 않음
    - 50% write > 인 경우 RDBMS는 성능 저하 또는 불안정
    - NoSQL + Redis (In memory cache) 등을 고려하게 됨

* 관계형 데이터베이스 종류
  - MySQL, Oracle, PostgreSQL, SQLlite

* NoSQL 데이터베이스는 각 데이터베이스마다 기반으로 하는 데이터 모델이 다르므로, 데이터 모델별로 대표적인 데이터베이스를 알아둘 필요가 있음
  - 각기 데이터베이스 다루는 인터페이스가 다름
    - Key/Value Store : (Redis)[https://redis.io/]
    - Wide Column Store : (Casandra)[https://cassandra.apache.org]
    - Document Store : (MongoDB)[https://www.mongodb.com] (MongoDB Docs)[https://docs.mongodb.com/manual/]
    - Graph Store : (Neo4j)[https://neo4j.com]

In [4]:
from IPython.display import Image, display  
display(Image(url= 'img/img02.png'))

### 1.2. MongoDB 란?
* MongoDB는 Document DB
  - JSON 기반의 Document 기반 데이터 관리
* MongoDB의 특징
- Document-Oriented Storage : 모든 데이터가 JSON 형태로 저장되며 schema가 없습니다.
- Full Index Support : RDBMS에 뒤지지 않는 다양한 인덱싱을 제공합니다.
- Replication & High Availability : 데이터 복제를 통해 가용성을 향상시킬 수 있습니다.
- Auto-Sharding : Primary key를 기반으로 여러 서버에 데이터를 나누는 scale-out이 가능합니다.
- Querying : key 기반의 get, put 뿐만이 아니라 다양한 종류의 쿼리들을 제공합니다.
- Fast In-Place Updates : 고성능의 atomic operation을 지원합니다.
- Map/Reduce : 맵리듀스를 지원합니다.
- GridFS : 별도 스토리지 엔진을 통해 파일을 저장할 수 있습니다.

* 프로그래밍에서 다루는 데이터 포맷
  - 정수(int), 소숫점(float), 문자(string)
  - CSV, JSON등
* JSON
  document  = { "id":"01", "languange":"java", "edition": { "first": "1st", "second":"2nd", "third":"third" } }

<pre>
MongoDB Document 예)

{
    "_id": ObjectId("5099803df3f42312312391"),
    "username": "gildong",
    "name": { first: "길동", last: "홍" }
}
</pre>

### 1.3. MongoDB 데이터 구조
 * Database - Collection(Table과 유사) - Document(Row 와 Column이라는 개념이 없다.)
 * RDBMS: Database - Table - Row와 Column
 
   - RDBMS의 table이 아니라, collection 에 JSON 형태의 Document를 넣습니다.
   - Document 하나가 하나의 로우(레코드)임

#### MongoDB Database
* Database는 Collection의 집합

#### MongoDB Collection

* Collection은 MongoDB Document의 집합
* RDBMS Table과 유사한 개념, 단 정규화된 데이터 구조, 즉 Schema가 정의되어 있지 않음

In [7]:
from IPython.display import Image, display 
display(Image(url= 'img/img05.png'))

## 2. mongoDB 설치 및 환경 구축 

### 2.1. mongodb  설치 방법 (맥 환경)

* Homebrew 프로그램을 사용해서 설치하는 것이 가장 쉬움
  - https://brew.sh/index_ko 
  - /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
  
* Homebrew 설치 후
  - brew install mongodb
  
* mongodb 설치 후
  - mongod 또는 brew services start mongodb

### 2.2. mongodb  설치 방법 (윈도우 환경)

* https://www.mongodb.com/download-center/community 이동 후, .msi 파일 다운로드 및 설치
* 참고 블로그: https://javacpro.tistory.com/64

## 3. mongoDB 바로 다뤄보기

* mongodb의 데이터 구성
 - db, collection으로 구성
 - 데이터는 각 collection에 document 형식(python dictionary)으로 저장 됨
 - collection들의 논리적인 집합이 database

### 3.1. Robomongo 설치 (MongoDB 관리 GUI 툴) (실습)
##### Robo 3T (formerly Robomongo)

* https://robomongo.org/download
  - 맥에서 처음 실행시 잘 안되면, 삭제 후, 다시 다운로드받아서 재설치하세요
* 실행
  - Click Create
    - In Connection
      - Name: AWS EC2 IP
      - Address: AWS EC2 IP (port는 27017 디폴트)
    - In Authentication
      - Database 이름: admin
      - User Name: 사용자 ID
      - Password: 사용자 암호
    - Click Test & Save button to check connection
  - Connection
    - Click Coonect buttion
  - Check connection
    - Right-click (server name) -> Show Log
  - Create DB
    - Right-click (Server) -> Create Database -> Add dave_db
  - Create Collection
    - Right-click (Collections(0) in created DB) -> Create Collection -> Add test
  - Insert Document
    - Right-click (test collection) -> Insert Document -> Add the following JSON(BSON) Document -> Click Validate & Save buttons
    - Click View Documents in test collection
    - Check _id_ in indexes of test collection (인덱스 자동 생성)

<pre>
{
    "_id" : ObjectId("5f1c3a099648a1965fbcada4"),
    "배우이름" : "유아인",
    "흥행지수" : 167829,
    "출연영화" : [ 
        "＃살아있다", 
        "버닝"
    ],
    "랭킹" : "1",
    "다른 이름" : "엄홍식",
    "직업" : "배우",
    "생년월일" : "1986-10-06",
    "성별" : "남",
    "홈페이지" : "https://www.instagram.com/hongsick/https://twitter.com/seeksik",
    "신장/체중" : "178cm, 60kg",
    "학교" : "단국대학교 연극",
    "취미" : "피아노 연주, 인터넷 게임, 영화, 음악감상",
    "특기" : "스노우보드, 수영"
}
</pre>

In [3]:
display(Image(url= 'img/img06.png'))

In [8]:
display(Image(url= 'img/img07.png'))

### 3.2. Robomongo에서 커멘드 입력해보기 (실습)
 - Right-click (Server) -> Open Shell
 - show dbs - 전체 데이터베이스 열람
 - use [DB 이름] - 데이터베이스 선택 (없으면 데이터베이스 생성)
   * 예) use python_db - dave_db 데이터베이스 선택
   
 
 - show collections - 선택된 데이터베이스의 콜렉션 열람
 - db.[Collection 이름].함수() 로 해당 컬렉션의 데이터 열람 및 조작
   * 예) db.my_col.find() - my_col 컬렉션에서 전체 Document 검색

* 데이터베이스 생성
  - use python_db
* 데이터베이스 현황 확인
  - db 
  - db.stats()
* collection 생성 및 삭제
  - db.createCollection("employees", {capped:true, size:10000})
    - Right-click (server) -> Click Refresh -> Go to dave_db -> Go to Collections -> Check employees
    - capped:true 최초 제한된 크기로 생성된 공간에서만 데이터를 저장하는 설정 (고성능, 저장공간차면 기존 공간 재사용, 일정시간만 저장하는 로그에 적합)
  - db.employees.isCapped()
  - db.employees.drop()
  - db.createCollection("employees")  
  - db.employees.isCapped()
  - db.employees.drop()
  - db.createCollection("employees", {capped:true, size:10000})
* collection 확인
  - show collections
  - db.employees.stats()
* collection 이름 변경
  - db.employees.renameCollection("emp")
* collection 삭제
  - db.employees.drop()

### 3.3. SQL과 간단 비교 - mongodb collection 생성/변경
* collection 생성 (원하는 타임으로 데이터를 바로 넣으면 됨)
  - PRIMARY KEY를 위한 별도 컬럼 만들 필요 없음. 
  - mongodb는 collection에서 _id가 각 Document마다 자동생성되어 primary key 역햘을 함
  - 컬럼마다 데이터 타입을 정할 필요 없음 ("컬럼명": 컬럼값 이 기본 형태임)

### 3.3.1 DDL SQL vs Mongo DB

In [10]:
display(Image(url= 'img/img08.png'))

In [11]:
display(Image(url= 'img/img09.png'))

* collection 구조 변경 (기존 Document에 컬럼 추가/삭제 필요없을 시는 새로운 Document에만 필요한 컬럼을 추가 또는 삭제해서 넣으면됨)
  - ALTER TABLE은 기본적으로 collection에서는 필요 없음 
  - 일부 기존 Document에도 컬럼과 컬럼값을 넣거나 삭제해야 한다면 다음과 같은 형태로는 가능함

* 기존 Document에도 컬럼과 컬럼값 추가시 
  - SQL: ALTER TABLE people ADD COLUMN join_date DATETIME
  - mongodb: db.people.updateMany({ }, { $set: { join_date: new Date() } })

* 기존 Document에도 컬럼과 컬럼값 삭제시 
  - SQL: ALTER TABLE people DROP COLUMN join_date
  - mongodb: db.people.updateMany({ }, { $unset: { "join_date": "" } })

## 4. mongoDB 데이터 입력/검색/수정/삭제 (CRUD)

* Create, Insert Operation은 컬렉션(Collection)에 도큐먼트(Documents)를 삽입합니다.
* 만약 컬렉션이 아직 존재하지 않는다면, 도큐먼트 삽입과 동시에 컬렉션이 생성됩니다.
* 모든 Mongo DB의 삽입 연산은 단일 컬렉션을 대상으로 한다.
### 4.1. Document 입력 - insertOne, insertMany
  - insertOne : 한개의 document 생성
  - insertMany : list of document 생성

### Document 입력 문법

In [12]:
display(Image(url= 'img/img10.png'))

### SQL INSERT 문법과 비교

In [13]:
display(Image(url= 'img/img11.png'))

* insertOne 예제

<pre>
db.people.insertOne(
     { user_id: "bcd001", age:45,status:'A' }
)
</pre>

* insertMany 예제

<pre>
db.people.insertMany([
    { user_id: "bcd002", age:25,status:"B" },
    { user_id: "bcd003", age:50,status:"A" },
    { user_id: "bcd004", age:35,status:"A" },
    { user_id: "abc001", age:28,status:"B" }	
])
</pre>

<div class="alert alert-block alert-success">
<font color="blue" size="4em">실습</font><br>
1. employees Collection 생성 <br>
2. 다음 Document 데이터 넣기<br>
   - user_id 가 bcd001, age 가 45, status 가 A 인 Document<br>
   - user_id 가 bcd002, age 가 25, status 가 B 인 Document<br>
   - user_id 가 bcd003, age 가 50, status 가 A 인 Document<br>
   - user_id 가 bcd004, age 가 35, status 가 A 인 Document<br>
   - user_id 가 abc001, age 가 28, status 가 B 인 Document<br>
</div>

* 읽기 작업(Read Operations)는 컬렉션에서 도큐먼트(Documents)를 검색합니다. (컬렉션을 쿼리하여 문서를 조회)
### 4.2. Document 읽기(검색) - findOne, find
  - findOne : 매칭되는 한개의 document 검색
  - find : 매칭되는 list of document 검색

### Document 읽기(검색) 문법

In [14]:
display(Image(url= 'img/img12.png'))

- find()/findOne 명령과 - SQL 문 비교

<pre>
db.people.find() - SELECT * FROM people
db.people.find({ }, { user_id: 1, status: 1 }) - SELECT _id, user_id, status FROM people
db.people.find({ },{ user_id: 1, status: 1, _id: 0 }) - SELECT user_id, status FROM people

db.people.find({ status: "A" }) - SELECT * FROM people WHERE status = 'A'
db.people.find({ status: "A" },{ user_id:1, status:1,_id:0}) - SELECT user_id,status from people where status = 'A'
db.people.find({ status: { $ne:"A" }}) - SELECT * from people where status != 'A'

db.people.find({ status: "A", age: 50 }) - SELECT * FROM people WHERE status = 'A' AND age = 50
db.people.find({ $or: [ { status: "A" } , { age: 50 } ] }) - SELECT * FROM people WHERE status = "A" OR age = 50

</pre>

<div class="alert alert-block alert-success">
<font color="blue" size="4em">실습</font><br>
1. employees Collection 에서 user_id 가 bcd002 인 Document의 user_id, age, status, _id 출력<br>
2. employees Collection 에서 user_id 가 bcd003 인 Document의 user_id, age, status 출력<br>
3. employees Collection 에서 user_id 가 bcd004 이거나, age가 28인 Document 의 모든 필드 출력
</div>

### 비교 문법
<pre>
$eq     =    Matches values that are equal to a specified value.
$gt     >    Matches values that are greater than a specified value.
$gte    >=   Matches values that are greater than or equal to a specified value.
$in          Matches any of the values specified in an array.
$lt     <    Matches values that are less than a specified value.
$lte    <=   Matches values that are less than or equal to a specified value.
$ne     !=   Matches all values that are not equal to a specified value.
$nin         Matches none of the values specified in an array.
</pre>

### 비교 문법 코드 예제
<pre>
db.people.find({ age: { $gt: 25 } }) - SELECT * FROM people WHERE age > 25
db.people.find({ age: { $lt: 25 } }) - SELECT * FROM people WHERE age < 25
db.people.find({ age: { $gt: 25, $lte: 50 } }) - SELECT * FROM people WHERE age > 25 AND age <= 50
db.people.find( { age: { $in: [ 5, 15 ] } } )) - SELECT * FROM people WHERE age in (5,15)
db.people.find( { age: { $nin: [ 5, 15 ] } } )) - SELECT * FROM people WHERE age not in (5,15)

db.people.find( { user_id: { $regex: /bc/ } } )  - SELECT * FROM people WHERE user_id like "%bc%"
db.people.find( { user_id: { $regex: /^bc/ } } ) - SELECT * FROM people WHERE user_id like "bc%"
db.people.find({user_id:{$regex:/01$/}}) - SELECT * from people where user_id like "%01"

db.people.find( { status: "A" } ).sort( { user_id: 1 } ) - SELECT * FROM people WHERE status = "A" ORDER BY user_id ASC 
db.people.find( { status: "A" } ).sort( { user_id: -1 } ) - SELECT * FROM people WHERE status = "A" ORDER BY user_id DESC

db.people.count() - SELECT COUNT(*) FROM people
db.people.count({ age : { $gt:30 }}) - select count(*) from people where age > 30

db.people.count( { user_id: { $exists: true } } )  - SELECT COUNT(user_id) FROM people : user_id 컬럼의 값이 존재하는 row count

db.people.aggregate( [{ $group : {_id: "$status" }}] ) - SELECT DISTINCT(status) FROM people

db.people.findOne()
db.people.find().limit(1)  - SELECT * FROM people LIMIT 1

db.people.find().limit(3).skip(1)  
</pre>

<div class="alert alert-block alert-success">
<font color="blue" size="4em">실습</font><br>
1. 다음 Document 데이터 조회하기<br>
   - age 가 20 보다 큰 Document 의 user_id 만 출력하기<br>
   - age 가 50 이고 status 가 A 인 Document 의 user_id 만 출력하기<br>
   - age 가 50 보다 작은 Document 의 user_id 와 age 출력하기<br>
   - status 종류 출력하기<br>
   - user_id 가 bcd 로 시작하는 전체 Document 출력하기
</div>

* 수정 작업 (Update Operations)은 컬렉션 내에 존재하는 도큐먼트를 수정합니다.
* Mongo DB에서는 단일 컬렉션을 대상으로 update operation을 지원합니다.
### Document 수정 - updateOne, updateMany
  - updateOne - 매칭되는 한개의 document 업데이트
  - updateMany - 매칭되는 list of document 업데이트

### 4.3. Document 수정 문법

In [15]:
display(Image(url= 'img/img13.png'))

- $set: field 값 설정
- $inc: field 값을 증가시키거나, 감소시킴
  - 예: $inc: { age: 2 } - age 값을 본래의 값에서 2 증가

### Document 수정 코드 예제

<pre>
db.people.updateMany( { age: { $gt: 45 } }, { $set: { status: "C" } } ) - UPDATE people SET status = "C" WHERE age > 45

* 1개의 Document만 수정하려면 updateOne을 사용함
db.people.updateOne( { age: { $lte: 25 } }, { $set: { status: "D" } } )

db.people.updateMany( { status: "A" } , { $inc: { age: 3 } } ) - UPDATE people SET age = age + 3 WHERE status = "A"
</pre>

<div class="alert alert-block alert-success">
<font color="blue" size="4em">실습</font><br>
1. 다음 Document 데이터 수정하기<br>
   - age 가 40 보다 큰 Document 의 status 를 B 로 변환하기
</div>

* 삭제 작업 (Delete Operations)은 컬렉션 내의 도큐먼트를 삭제합니다.
* Mongo DB에서의 삭제 작업은 단일 Collection을 대상으로 합니다.
### 4.4. Document 삭제 - deleteOne, deleteMany
  - deleteOne - 매칭되는 한개의 document 삭제
  - deleteMany - 매칭되는 list of document 삭제

### Document 삭제 문법

In [17]:
display(Image(url= 'img/img14.png'))

<pre>
db.people.deleteMany( { status: "D" } ) - DELETE FROM people WHERE status = "D"

db.people.deleteMany({}) - DELETE FROM people  
</pre>

<div class="alert alert-block alert-success">
<font color="blue" size="4em">실습</font><br>
1. 다음 Document 데이터 삭제하기<br>
   - age 가 30 보다 작은 Document 삭제하기
</div>

### 참고: mongo shell
 - 로컬에서 서버가 돌아갈 경우,
   - mongo
 - 원격 서버에 접속할 경우 
   - mongo --host 'host_address' --port 'port'
   - 예) mongo --host 192.10.21.3 --port 27017

### Aggregation Pipeline
* Mongo DB의 Aggregation Framework는 데이터 처리 파이프라인의 개념을 모델로 합니다.
* 문서는 여러 단계의 파이프라인을 거쳐 변화하고 하나의 문서의 형태로 집계할 수 있습니다.

* **파이프라인(pipeline)** 이란, 이전 단계의 연산결과를 다음 단계연산에 이용하는 것을 의미합니다.

In [21]:
display(Image(url= 'img/img15.png'))

### $match

* 조건에 만족하는 Document만 Filtering
* 입력형식
  - { $match: { <query> } }

* $match 입력데이터
<pre>
{ "_id" : ObjectId("512bc95fe835e68f199c8686"), "author" : "john", "score" : 80, "views" : 100 }
{ "_id" : ObjectId("512bc962e835e68f199c8687"), "author" : "john", "score" : 85, "views" : 521 }
{ "_id" : ObjectId("55f5a192d4bede9ac365b257"), "author" : "ahn", "score" : 60, "views" : 1000 }
{ "_id" : ObjectId("55f5a192d4bede9ac365b258"), "author" : "li", "score" : 55, "views" : 5000 }
{ "_id" : ObjectId("55f5a1d3d4bede9ac365b259"), "author" : "annT", "score" : 60, "views" : 50 }
{ "_id" : ObjectId("55f5a1d3d4bede9ac365b25a"), "author" : "li", "score" : 94, "views" : 999 }
{ "_id" : ObjectId("55f5a1d3d4bede9ac365b25b"), "author" : "ty", "score" : 95, "views" : 1000 }
</pre>

* $match 사용 코드

<pre>
db.articles.aggregate(
    [ { $match : { author : "john" } } ]
);
</pre>

### $group

* Document에 대한 Grouping 연산을 수행
* Group에 대한 id를 지정해야하고, 특정 필드에 대한 집계 연산이 가능
* $group은 연산된 Document에 대한 정렬을 지원하지 않음

* 입력형식
    - { $group: { _id: <expression>, <field1>: { <accumulator1> : <expression1> }, ... } }

In [22]:
display(Image(url= 'img/img16.png'))

* $group 입력데이터
<pre>
{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : ISODate("2014-03-01T08:00:00Z") }
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : ISODate("2014-03-01T09:00:00Z") }
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 10, "date" : ISODate("2014-03-15T09:00:00Z") }
{ "_id" : 4, "item" : "xyz", "price" : 5, "quantity" : 20, "date" : ISODate("2014-04-04T11:21:39.736Z") }
{ "_id" : 5, "item" : "abc", "price" : 10, "quantity" : 10, "date" : ISODate("2014-04-04T21:23:13.331Z") }
</pre>

* $group 사용 코드

<pre>
db.sales.aggregate(
   [
      {
        $group : {
           _id : { month: { $month: "$date" }, day: { $dayOfMonth: "$date" }, year: { $year: "$date" } },
           totalPrice: { $sum: { $multiply: [ "$price", "$quantity" ] } },
           averageQuantity: { $avg: "$quantity" },
           count: { $sum: 1 }
        }
      }
   ]
)


* 년/월/일을 기준으로 집계
* $price * $quantity 를 곱한 값의 합을 totalPrice 필드로 지정
* $quantity 필드 값의 평균을 averageQuantity 필드로 지정
* Group별 데이터의 갯수를 count 로 지정
</pre>

### $unwind

* Document내의 "배열 필드"를 기반으로 각각의 Document로 분리

* $unwind (aggregation)

 https://docs.mongodb.com/manual/reference/operator/aggregation/unwind/
 

* 입력형식
```sql
    {
      $unwind:
        {
          path: <field path>,
          includeArrayIndex: <string>,
          preserveNullAndEmptyArrays: <boolean>
        }
    }
```

* $unwind 입력데이터

<pre>
{ "_id" : 1, "item" : "ABC1", sizes: [ "S", "M", "L"] }
</pre>

* $unwind 사용 코드

<pre>
db.inventory.aggregate( [ { $unwind : "$sizes" } ] )
</pre>

### SQL to Aggregation Mapping Chart
https://docs.mongodb.com/manual/reference/sql-aggregation-comparison/#examplesjohn

* aggregate() 함수연습 입력데이터

<pre>    
    {
      cust_id: "abc123",
      ord_date: ISODate("2012-01-02T17:04:11.102Z"),
      status: 'A',
      price: 100,
      items: [ { sku: "xxx", qty: 25, price: 1 },
               { sku: "yyy", qty: 25, price: 1 } ]
    },
    {
      cust_id: "abc123",
      ord_date: ISODate("2012-01-02T17:04:11.102Z"),
      status: 'A',
      price: 500,
      items: [ { sku: "xxx", qty: 25, price: 1 },
               { sku: "yyy", qty: 25, price: 1 } ]
    },
    {
      cust_id: "abc123",
      ord_date: ISODate("2012-01-02T17:04:11.102Z"),
      status: 'B',
      price: 130,
      items: [ { sku: "jkl", qty: 35, price: 2 },
               { sku: "abv", qty: 35, price: 1 } ]
    },
    {
      cust_id: "abc123",
      ord_date: ISODate("2012-01-02T17:04:11.102Z"),
      status: 'A',
      price: 130,
      items: [ { sku: "xxx", qty: 15, price: 1 },
               { sku: "yyy", qty: 15, price: 1 } ]
    },
    {
      cust_id: "abc456",
      ord_date: ISODate("2012-02-02T17:04:11.102Z"),
      status: 'C',
      price: 70,
      items: [ { sku: "jkl", qty: 45, price: 2 },
               { sku: "abv", qty: 45, price: 3 } ]
    },
    {
      cust_id: "abc456",
      ord_date: ISODate("2012-02-02T17:04:11.102Z"),
      status: 'A',
      price: 150,
      items: [ { sku: "xxx", qty: 35, price: 4 },
               { sku: "yyy", qty: 35, price: 5 } ]
    },
    {
      cust_id: "abc456",
      ord_date: ISODate("2012-02-02T17:04:11.102Z"),
      status: 'B',
      price: 20,
      items: [ { sku: "jkl", qty: 45, price: 2 },
               { sku: "abv", qty: 45, price: 1 } ]
    },
    {
      cust_id: "abc780",
      ord_date: ISODate("2012-02-02T17:04:11.102Z"),
      status: 'B',
      price: 260,
      items: [ { sku: "jkl", qty: 50, price: 2 },
               { sku: "abv", qty: 35, price: 1 } ]
    }
</pre>

###  SQL Terms, Functions, and Concepts 

<pre>
|   SQL    |     Mongo     |
|----------|:-------------:|
| WHERE    |    $match     |
| GROUP BY |    $group     |
| HAVING   |    $match     |
| SELECT   |    $project   |
| ORDER BY |    $sort      |
| LIMIT    |    $limit     |
| SUM()    |    $sum       |
| SELECT   |    $project   |
| COUNT()  |    $sum       |
| join     |    $lookup    |
</pre>

#### $dateToString (aggregation)
https://docs.mongodb.com/manual/reference/operator/aggregation/dateToString/