## Pandas API
* Analysing the "Administrative area data"
* Read csv file

In [121]:
import pandas as pd
data = pd.read_csv('data_draw_korea.csv') # simillar with 'R' language
# print(type(data)) # > <class 'pandas.core.frame.DataFrame'>
data.head() ## Default # of head() is '5'
# data.head(10)
# data.tail() ## Default is also '5'

# data.columns # > Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')

# data.index # > RangeIndex(start=0, stop=229, step=1)

# data.shape # (229, 8)

# data.info() ## info() >> DataFrame's metadata

# data.index # > RangeIndex(start=0, stop=229, step=1)

# data.shape # (229, 8)

# data.info() ## info() >> DataFrame's metadata

# data.describe() ## show statics of int type columns only 

# data['인구수'] ## Get one column (Series type)

# data['인구수'].head()

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시
3           3   63986        삼척  11  8  1185.80  강원도  삼척시
4           4   76733        속초   9  1   105.25  강원도  속초시

In [122]:
data.describe() ## show statics of int type columns only

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [123]:
print('인구수(최대) : ', data['인구수'].max())
print('인구수(최소) : ', data['인구수'].min())
print('인구수(평균) : ', data['인구수'].mean())

print('면적(최대) : ', data['면적'].max())
print('면적(최소) : ', data['면적'].min())
print('면적(평균) : ', data['면적'].mean())

인구수(최대) :  1125461
인구수(최소) :  8392
인구수(평균) :  211089.77729257641
면적(최대) :  1817.94
면적(최소) :  2.8
면적(평균) :  435.41979475982555

In [124]:
data.head(2)

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군

In [125]:
data = data.rename(columns = {'Unnamed: 0' : 'seq' }) ## Change column name 
data.head(2)

   seq     인구수 shortName   x  y       면적 광역시도 행정구역
0    0  202520        강릉  11  4  1040.07  강원도  강릉시
1    1   25589    고성(강원)   9  0   664.19  강원도  고성군

In [126]:
data = data.set_index('seq') ## Change 'seq' col to index
data.head(2)

        인구수 shortName   x  y       면적 광역시도 행정구역
seq
0    202520        강릉  11  4  1040.07  강원도  강릉시
1     25589    고성(강원)   9  0   664.19  강원도  고성군

### Select specific column and row
* Select specific cols, rows ( loc[], iloc[] )
* Select cols, rows with slicing 
* Boolean indexing - select the row which satisfy the condition

In [127]:
# data.loc[:,'인구수'] ##  [row, col]
data.loc[:,'인구수'] ##  [row, col]
data.loc[:,['인구수', '행정구역', '광역시도']].tail(5)

        인구수 행정구역  광역시도
seq
224  127462  제천시  충청북도
225   34480  증평군  충청북도
226   62809  진천군  충청북도
227  790216  청주시  충청북도
228  198077  충주시  충청북도

In [128]:
# Slicing
data.loc[:,'인구수':'면적'].head(5)

        인구수 shortName   x  y       면적
seq
0    202520        강릉  11  4  1040.07
1     25589    고성(강원)   9  0   664.19
2     86747        동해  11  5   180.01
3     63986        삼척  11  8  1185.80
4     76733        속초   9  1   105.25

In [129]:
data.loc[[100,111,120],:]

        인구수 shortName   x   y     면적   광역시도 행정구역
seq
100  196378      대구서구   8  14  17.50  대구광역시   서구
111  271753      부산남구  11  19  25.91  부산광역시   남구
120  198383      부산연제  11  17  12.08  부산광역시  연제구

In [130]:
# Slicing
data.loc[110:115,:]

        인구수 shortName   x   y      면적   광역시도  행정구역
seq
110  142223      부산기장  12  16  217.90  부산광역시   기장군
111  271753      부산남구  11  19   25.91  부산광역시    남구
112   85952      부산동구  10  17    9.77  부산광역시    동구
113  256584      부산동래  11  16   16.60  부산광역시   동래구
114  365721     부산부산진  10  16   29.70  부산광역시  부산진구
115  292375      부산북구   9  16   38.30  부산광역시    북구

In [133]:
# 1. Get 20 rows, by cols '행정구역', '광역시도'
cols = ['행정구역', '광역시도']
print(data.loc[:,cols].head(20), '\n')

# 2. Get 10th, 20th, 30th row, by cols '인구수' ~ '면적'
print(data.loc[[10,20,30], '인구수' : '면적'])

행정구역 광역시도
seq
0    강릉시  강원도
1    고성군  강원도
2    동해시  강원도
3    삼척시  강원도
4    속초시  강원도
5    양구군  강원도
6    양양군  강원도
7    영월군  강원도
8    원주시  강원도
9    인제군  강원도
10   정선군  강원도
11   철원군  강원도
12   춘천시  강원도
13   태백시  강원도
14   평창군  강원도
15   홍천군  강원도
16   화천군  강원도
17   횡성군  강원도
18   가평군  경기도
19   고양시  경기도

         인구수 shortName   x  y        면적
seq
10     34242        정선  11  6  1220.670
20     63227        과천   7  7    35.813
30   1125461        수원   6  9   121.090